nav
    ul
        li
            form(action="/selectlanguage" method="POST" class="form-language")
                select(class="select_language" name="language" id="language" onchange="this.form.submit()")
                    option(value="eng") English
                    option(value="fra") Français
        li
            a(href="sign-up" class="sign_item") #{translation.sign_up}
        li
            a(href=sign_in_out_url class="sign_item") #{sign_in_out}
        li
            a(href="user_profile" class="sign_item") My profile
    ul
        li
            a(href="home" class="title") Koeko
        li
            a(href="questions" class="nav_item") #{translation.questions}
        li
            a(href="home" class="nav_item") #{translation.home}
script(type='text/javascript').
    var language = !{JSON.stringify(data.language)};
    if (language == "eng") {
        document.getElementById('language').options[0].selected = 'selected';
    } else if (language == "fra") {
        document.getElementById('language').options[1].selected = 'selected';
    }