extends layout

block content
    include partials/header.pug
    form(method='POST' action='/questions' class="form-inline")
        div.form-group
            select(name='selectionFilter', id='userQuestionsCombobox')
                each filter in questSelectedFilter
                    option(value=filter) #{filter}
        div.form-group
            select(name='subjectFilter')
                each subject in mainSubjects
                    option(value=subject) #{subject}
        div.form-group
            input#keyword.form-control(type='keyword', placeholder='key word', name='keyword')
        div.form-group
            button.btn.btn-primary(type='submit' class='small-button') Search

    form(method='POST' action='/questions' class="form_sign")
        input(type='text' hidden=true name='selectedQuestions' value='' id='selectedQuestionsField')
        input(type='text' hidden=true name='unselectedQuestions' value='' id='unselectedQuestionsField')
        button(type='submit', id='saveChangesButton' class='standard-button') Save my Changes

    table(style='width:40%', border='1', id='questions_table')
        thead
            tr
                th Question
                th Question Type
                th Picture
                th(width="120px") Rating
                th My Questions
        tbody
            - var maxIndex = 10
            - if (data.questions.length < 10) {
            -        maxIndex = data.questions.length
            - }
            - for (var i = 0; i < maxIndex; ++i) {
                tr(onclick="toggleModal(this)")
                    td=data.questions[i].questionText
                    td=data.questions[i].questionType
                    td
                        img(src="/users_images/mini_" + data.questions[i].imageName)
                    td
                        div(class='stars')
                            span(class="star", id=i + "_tstar1")
                            span(class="star", id=i + "_tstar2")
                            span(class="star", id=i + "_tstar3")
                            span(class="star", id=i + "_tstar4")
                            span(class="star", id=i + "_tstar5")
                    td
                        img(id="checkboxImage" + i, src="/images/" + data.questions[i].userSelected)
            - }
    div.center-div
        button(onclick='loadMoreQuestions()' class='small-button') Load more Questions
    .modal
        .modal-content
            span(class="close-button", onclick="toggleModalClose()") &times;
            .question-text some text
            .question-type some type
            img(src="/users_images/", id="questionImage")
            div(class='stars') Average rating:
                span(class="star" id="star1")
                span(class="star" id="star2")
                span(class="star" id="star3")
                span(class="star" id="star4")
                span(class="star" id="star5")
            div(class='stars') Your rating:
                span(class="star" id="ustar1" onclick='rate1star()')
                span(class="star" id="ustar2" onclick='rate2stars()')
                span(class="star" id="ustar3" onclick='rate3stars()')
                span(class="star" id="ustar4" onclick='rate4stars()')
                span(class="star" id="ustar5" onclick='rate5stars()')
            form(method='POST' action='/questions' class="form_sign")
                input(type='text' hidden=true name='userRating' value='' id='userRating')
                input(type='text' hidden=true name='questionRated' value='' id='questionRated')
                input(type='text' hidden=true name='questionType' value='' id='questionType')
                button(type='submit', id='submitRating') Submit my rating
            button.button-select(onclick="selectQuestion()") Select Question

    script(type='text/javascript').
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        var modal = document.querySelector(".modal");
        var selectButton = document.querySelector(".button-select");
        var saveButton = document.getElementById("saveChangesButton");
        var userQuesCombo = document.getElementById("userQuestionsCombobox");
        var rateButton = document.getElementById("submitRating");

        var questionsArray = !{JSON.stringify(data.questions)};
        var ratingForResource = !{JSON.stringify(data.ratingForResource)}
        var selectedQuestions = [[]];
        var unselectedQuestions = [];
        var currentQuestionIndex = 0;

        var question_text = document.querySelector(".question-text");
        var question_type = document.querySelector(".question-type");
        var questionImage = document.getElementById("questionImage");


        if (!{JSON.stringify(data.currentUser)} == "") {
            userQuesCombo.disabled = true;
            saveButton.disabled = true;
        }
        rateButton.disabled = true;

        var table = document.getElementById("questions_table");
        var i;
        for (i = 0; table.rows.length - 1; i++) {
            var tstars = ['_tstar1', '_tstar2', '_tstar3', '_tstar4', '_tstar5'];
            var starDesign = 'star on';

            for (var j = 1; j < tstars.length + 1; j++) {
                if (questionsArray[i].rating > (j - 0.25)) {
                    document.getElementById(i + tstars[j - 1]).className = starDesign;
                } else if (questionsArray[i].rating > (j - 0.75)) {
                    document.getElementById(i + tstars[j - 1]).className = 'star half';
                } else {
                    starDesign = 'star';
                    document.getElementById(i + tstars[j - 1]).className = starDesign;
                }
            }
        }

        function toggleModal(id) {
            var index = 0;
            if (typeof id === 'undefined') {
                index = 1;
            } else if (id.rowIndex - 1 < questionsArray.length && id.rowIndex - 1 >= 0) {
                index = id.rowIndex - 1;
            }
            currentQuestionIndex = index;
            question_text.innerHTML = questionsArray[index].questionText;
            question_type.innerHTML = questionsArray[index].questionType;
            questionImage.src = "/users_images/" + questionsArray[index].imageName;
            if (questionImage && questionImage.style) {
                questionImage.style.height = "300px"
            }
            if (!{JSON.stringify(data.currentUser)} == "") {
                selectButton.disabled = true;
            } else {
                if (questionsArray[index].userSelected == "selected.png") {
                    selectButton.innerHTML = "Unselect Question"
                } else {
                    selectButton.innerHTML = "Select Question"
                }
            }

            //set the average rating
            var stars = ['star1','star2','star3','star4','star5'];
            var starDesign = 'star on';
            for (var j = 1; j < stars.length + 1; j++) {
                if (questionsArray[index].rating > (j - 0.25)) {
                    document.getElementById(stars[j - 1]).className = starDesign;
                } else if (questionsArray[index].rating > (j - 0.75)) {
                    document.getElementById(stars[j - 1]).className = 'star half';
                } else {
                    starDesign = 'star';
                    document.getElementById(stars[j - 1]).className = starDesign;
                }
            }

            //set the user rating
            setUserRating(parseFloat(ratingForResource[index]))

            modal.classList.toggle("show-modal");
        }

        function toggleModalClose() {
            modal.classList.toggle("show-modal");
        }

        function setUserRating(rating) {
            var stars = ['ustar1', 'ustar2', 'ustar3', 'ustar4', 'ustar5'];
            var starDesign = 'star on';
            for (var j = 1; j < stars.length + 1; j++) {
                if (rating > (j - 0.25)) {
                    document.getElementById(stars[j - 1]).className = starDesign;
                } else if (rating > (j - 0.75)) {
                    document.getElementById(stars[j - 1]).className = 'star half';
                } else {
                    starDesign = 'star';
                    document.getElementById(stars[j - 1]).className = starDesign;
                }
            }
        }

        function rate1star() {
            document.getElementById('userRating').value = 1
            document.getElementById('questionRated').value = questionsArray[currentQuestionIndex].questionID
            document.getElementById('questionType').value = questionsArray[currentQuestionIndex].questionType
            rateButton.disabled = false;
            setUserRating(1)
        }
        function rate2stars() {
            document.getElementById('userRating').value = 2
            document.getElementById('questionRated').value = questionsArray[currentQuestionIndex].questionID
            document.getElementById('questionType').value = questionsArray[currentQuestionIndex].questionType
            rateButton.disabled = false;
            setUserRating(2)
        }
        function rate3stars() {
            document.getElementById('userRating').value = 3
            document.getElementById('questionRated').value = questionsArray[currentQuestionIndex].questionID
            document.getElementById('questionType').value = questionsArray[currentQuestionIndex].questionType
            rateButton.disabled = false;
            setUserRating(3)
        }
        function rate4stars() {
            document.getElementById('userRating').value = 4
            document.getElementById('questionRated').value = questionsArray[currentQuestionIndex].questionID
            document.getElementById('questionType').value = questionsArray[currentQuestionIndex].questionType
            rateButton.disabled = false;
            setUserRating(4)
        }
        function rate5stars() {
            document.getElementById('userRating').value = 5
            document.getElementById('questionRated').value = questionsArray[currentQuestionIndex].questionID
            document.getElementById('questionType').value = questionsArray[currentQuestionIndex].questionType
            rateButton.disabled = false;
            setUserRating(5)
        }

        function selectQuestion() {
            document.getElementById('userRating').value = ""
            if (questionsArray[currentQuestionIndex].userSelected == "notselected.png") {
                questionsArray[currentQuestionIndex].userSelected = "selected.png"

                //if the question was unselected without saving inbetween, remove it from the unselectedQuestions array
                if (unselectedQuestions.indexOf(questionsArray[currentQuestionIndex].questionID) != -1) {
                    var indexToRemove = unselectedQuestions.indexOf(questionsArray[currentQuestionIndex].questionID);
                    unselectedQuestions.splice(indexToRemove, 1)
                } else {
                    if (questionsArray[currentQuestionIndex].questionType == "Short Answer") {
                        selectedQuestions.push([questionsArray[currentQuestionIndex].questionID, "SRTA"]);
                    } else {
                        selectedQuestions.push([questionsArray[currentQuestionIndex].questionID, "MLCQ"]);
                    }
                }
                document.getElementById("checkboxImage" + currentQuestionIndex).src = "/images/selected.png";
                document.getElementById('selectedQuestionsField').value = selectedQuestions;
                document.getElementById('unselectedQuestionsField').value = unselectedQuestions;
            } else {
                questionsArray[currentQuestionIndex].userSelected = "notselected.png"

                //if the question was selected without saving inbetween, remove it from the questions array
                var i;
                var indexToRemove = -1;
                for (i = 0; i < selectedQuestions.length && indexToRemove == -1; i++) {
                    if (selectedQuestions[i][0] == questionsArray[currentQuestionIndex].questionID) {
                        indexToRemove = i;
                    }
                }

                if (indexToRemove != -1) {
                    selectedQuestions.splice(indexToRemove,1);
                } else {
                    unselectedQuestions.push(questionsArray[currentQuestionIndex].questionID);
                }

                document.getElementById("checkboxImage" + currentQuestionIndex).src = "/images/notselected.png";
                document.getElementById('unselectedQuestionsField').value = unselectedQuestions;
                document.getElementById('selectedQuestionsField').value = selectedQuestions;
            }
            toggleModalClose();
        }

        function loadMoreQuestions() {
            var table = document.getElementById("questions_table");
            var i = table.rows.length
            var j = table.rows.length
            for (; i < questionsArray.length && i < 10 + j; i++) {
                var questionIndex = i - 1
                var html_image = ["<img src='/users_images/mini_" + questionsArray[questionIndex].imageName + "' id='imageQuest'>"]
                var html_rating = ["<div class='stars'><span class='star' id='" + questionIndex + "_tstar1'></span><span class='star' id='" + questionIndex + "_tstar2'></span><span class='star' id='" + questionIndex + "_tstar3'></span><span class='star' id='" + questionIndex + "_tstar4'></span><span class='star' id='" + questionIndex + "_tstar5'></span></div>"]
                var row = table.insertRow(table.rows.length);
                row.setAttribute("onclick", "toggleModal(this)", 0);

                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                var cell5 = row.insertCell(4);

                cell1.innerHTML = questionsArray[questionIndex].questionText;
                cell2.innerHTML = questionsArray[questionIndex].questionType;
                cell3.innerHTML = html_image
                cell4.innerHTML = html_rating
                cell5.innerHTML = "<img id='checkboxImage" + questionIndex + "' src='/images/" + questionsArray[questionIndex].userSelected + "' >"

                var tstars = ['_tstar1', '_tstar2', '_tstar3', '_tstar4', '_tstar5'];
                var starDesign = 'star on';

                for (var k = 1; k < tstars.length + 1; k++) {
                    if (questionsArray[questionIndex].rating > (k - 0.25)) {
                        document.getElementById(questionIndex + tstars[k - 1]).className = starDesign;
                    } else if (questionsArray[questionIndex].rating > (k - 0.75)) {
                        document.getElementById(questionIndex + tstars[k - 1]).className = 'star half';
                    } else {
                        starDesign = 'star';
                        document.getElementById(questionIndex + tstars[k - 1]).className = starDesign;
                    }
                }
            }
        }

        function windowOnClick(event) {
            if (event.target === modal) {
                toggleModal();
            }
        }
        window.addEventListener("click", windowOnClick);