extends layout

block content
    include partials/header.pug
    form(method='POST' action='/questions' class="form-inline")
        div.form-group
            select
                each filter in questSelectedFilter
                    option(value=filter) #{filter}
        div.form-group
            select
                each subject in mainSubjects
                    option(value=subject) #{subject}
        div.form-group
            input#keyword.form-control(type='email', placeholder='key word' name='email')
        div.form-group
            button.btn.btn-primary(type='submit') Search


    form(method='POST' action='/questions' class="form-inline")
        button(type='submit') Save the selected questions to your account

    table(style='width:40%', border='1', id='questions_table')
        thead
            tr
                th Question
                th Question Type
                th Picture
                th Rating
                th My Questions
        tbody
            each question, index in data.questions
                tr(onclick="toggleModal(this)")
                    td=question.questionText
                    td=question.questionType
                    td
                        img(src="/users_images/mini_" + question.imageName)
                    td=question.rating
                    td
                        img(id="checkboxImage" + index, src="/images/" + question.userSelected)
                    .modal
                        .modal-content
                            span(class="close-button", onclick="toggleModalClose()") &times;
                            .question-text some text
                            .question-type some type
                            img(src="/users_images/", id="questionImage")
                            button(onclick="selectQuestion()") Select Question
                    script(type='text/javascript').
                        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                        var modal = document.querySelector(".modal");
                        var closeButton = document.querySelector(".close-button");

                        var questionsArray = !{JSON.stringify(data.questions)};
                        var selectedQuestions = [];
                        var currentQuestionIndex = 0;

                        var question_text = document.querySelector(".question-text");
                        var question_type = document.querySelector(".question-type");
                        var questionImage = document.getElementById("questionImage");

                        function toggleModal(id) {
                            var index = 0;
                            if (typeof id === 'undefined') {
                                index = 1;
                            } else if (id.rowIndex - 1 < questionsArray.length && id.rowIndex - 1 >= 0) {
                                index = id.rowIndex - 1;
                            }
                            currentQuestionIndex = index;
                            question_text.innerHTML = questionsArray[index].questionText;
                            question_type.innerHTML = questionsArray[index].questionType;
                            questionImage.src = "/users_images/" + questionsArray[index].imageName;
                            if (questionImage && questionImage.style) {
                                questionImage.style.height = "300px"
                            }
                            modal.classList.toggle("show-modal");
                        }

                        function toggleModalClose() {
                            modal.classList.toggle("show-modal");
                        }

                        function selectQuestion() {
                            selectedQuestions.push(questionsArray[currentQuestionIndex].questionID);
                            document.getElementById("checkboxImage" + currentQuestionIndex).src="/images/selected.png";
                            toggleModalClose();
                        }

                        function windowOnClick(event) {
                            if (event.target === modal) {
                                toggleModal();
                            }
                        }
                        closeButton.addEventListener("click", toggleModalClose);
                        window.addEventListener("click", windowOnClick);