extends layout

block content
    include partials/header.pug
    form(method='POST' action='/questions' class="form-inline")
        div.form-group
            select
                each filter in questSelectedFilter
                    option(value=filter) #{filter}
        div.form-group
            select
                each subject in mainSubjects
                    option(value=subject) #{subject}
        div.form-group
            input#keyword.form-control(type='email', placeholder='key word' name='email')
        div.form-group
            button.btn.btn-primary(type='submit') Search



    table(style='width:40%', border='1', id='questions_table')
        thead
            tr
                th Question
                th Question Type
                th Picture
                th Rating
                th My Questions
        tbody
            each question in data.questions
                tr
                    td=question.questionText
                    td=question.questionType
                    td
                        img(src="/images/mini_" + question.imageName)
                    td=question.rating
                    td
                        img(src="/images/" + question.userSelected)