.sequence-modal(style="overflow:scroll;")
    .modal-content
        span(class="close-button", onclick="toggleSequenceModalClose()") &times;
        form(method='POST' action='/questions' class="form-resource" enctype='multipart/form-data' id='createresourceform')
            ul(class='ul-resource')
                li
                    input(type='text' name='resourceTitle' value='' id='resourceTitle' placeholder='Title' class='form-resource-textfield' disabled=true)
                    select(name='resourceType' id='resourceType' disabled=true class='resource-select')
                        each resourceType in data.resourcesTypes
                            option(value=resourceType) #{resourceType}
                li
                    textarea(name='resourceDescription' id='resourceDescription' form='createresourceform' disabled=true)
                li
                    select(name='mainSubject', id='mainSubject' disabled=true class='resource-select')
                        each subject in mainSubjects
                            option(value=subject[0]) #{subject[0]}
                li
                    input(type='text' name='filename1' id='filename1' value='' placeholder='Name of the file' class='form-resource-textfield' style='visibility: hidden;')
                    input(type='file' name='filetoupload1' id='filetoupload1' style='visibility: hidden;')
                    a(download="sequence" class='download-link' id='download1') Download 1
                li
                    input(type='text' name='filename2' id='filename2' value='' placeholder='Name of the file' class='form-resource-textfield' style='visibility: hidden;')
                    input(type='file' name='filetoupload2' id='filetoupload2' style='visibility: hidden;')
                    a(download="sequence" class='download-link' id='download2') Download 2
                li
                    input(type='text' name='filename3' id='filename3' value='' placeholder='Name of the file' class='form-resource-textfield' style='visibility: hidden;')
                    input(type='file' name='filetoupload3' id='filetoupload3' style='visibility: hidden;')
                    a(download="sequence" class='download-link' id='download3') Download 3
                li
                    input(type='text' name='filename4' id='filename4' value='' placeholder='Name of the file' class='form-resource-textfield' style='visibility: hidden;')
                    input(type='file' name='filetoupload4' id='filetoupload4' style='visibility: hidden;')
                    a(download="sequence" class='download-link' id='download4') Download 4
                li
                    label(for='imagefile' class='form-resource-textfield' style='visibility: hidden;' id='imageFileLabel') Image File
                    input(type='file' name='imagefile' id='imagefile' style='visibility: hidden;')
                li
                    input(type='submit' id='createResource' class='small-button' value='Save Resource' style='visibility: hidden;')
        button(onclick='startEditResource()' class='small-button' id="edit-button" style='visibility: hidden;') Edit
        hr(color='gray')
        div.row
            div.star-label #{translation.average_rating}:
            div(class='stars')
                span(class="star" id="rstar1")
                span(class="star" id="rstar2")
                span(class="star" id="rstar3")
                span(class="star" id="rstar4")
                span(class="star" id="rstar5")
        div.row
            div.star-label #{translation.your_rating}:
            div(class='stars')
                span(class="star" id="rustar1" onclick='rateResource1Stars()')
                span(class="star" id="rustar2" onclick='rateResource2Stars()')
                span(class="star" id="rustar3" onclick='rateResource3Stars()')
                span(class="star" id="rustar4" onclick='rateResource4Stars()')
                span(class="star" id="rustar5" onclick='rateResource5Stars()')
        form(method='POST' action='/questions' class="form-rating")
            input(type='text' hidden=true name='userRating' value='' id='ruserRating')
            input(type='text' hidden=true name='questionRated' value='' id='rquestionRated')
            input(type='text' hidden=true name='questionType' value='' id='rquestionType')
            button(type='submit', id='rSubmitRating' class='small-button') #{translation.submit_my_rating}