

table(style='width:40%', border='1', id='test_table')
    thead
        tr
            th(id='test-name') test name
            th
                div.row
                    div.star-label #{translation.average_rating}:
                    div(class='stars')
                        span(class="star" id="teststar1")
                        span(class="star" id="teststar2")
                        span(class="star" id="teststar3")
                        span(class="star" id="teststar4")
                        span(class="star" id="teststar5")
                div.row
                    div.star-label #{translation.your_rating}:
                    div(class='stars')
                        span(class="star" id="testustar1" onclick='setTestUserRating(1)')
                        span(class="star" id="testustar2" onclick='setTestUserRating(2)')
                        span(class="star" id="testustar3" onclick='setTestUserRating(3)')
                        span(class="star" id="testustar4" onclick='setTestUserRating(4)')
                        span(class="star" id="testustar5" onclick='setTestUserRating(5)')
                div.row
                    form(method='POST' action='/questions' class="form-rating")
                        input(type='text' hidden=true name='userRating' value='' id='userRating')
                        input(type='text' hidden=true name='questionRated' value='' id='questionRated')
                        input(type='text' hidden=true name='questionType' value='' id='questionType')
                        button(type='submit', id='submitRating' class='small-button') #{translation.submit_my_rating}
            th
                img(id="testCheckboxImage" onclick="toggleSelection()" src="/images/notselected.png")
